<section>
  <header>
    <h1>Heavy Component</h1>
    <p>This is a heavy component</p>
  </header>

  <article>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit
      velit at nulla ullamcorper pretium. Integer sit amet lectus sem.
      Vestibulum posuere nibh odio, id finibus tellus fermentum a. Aenean mattis
      vitae orci id pharetra. In a semper ex. Nulla urna turpis, consequat at
      dapibus sed, cursus eu ipsum. Aenean eget luctus metus, ut feugiat sapien.
      Suspendisse imperdiet semper lacus id pretium. Proin id massa a diam
      varius tempus. Etiam blandit tellus id placerat eleifend. Proin faucibus
      vulputate elit. Mauris ultrices lectus mollis egestas bibendum. Proin ac
      nisl sed purus placerat varius at non erat.
    </p>
  </article>

  <article>
    <p>
      Proin sit amet porta augue. Ut vulputate aliquet iaculis. Ut eleifend
      purus lacus, nec dignissim odio varius a. Sed id elementum tortor, sed
      auctor velit. Suspendisse interdum, dolor sit amet congue molestie, ante
      libero sollicitudin arcu, nec vestibulum sapien justo mollis mi. Nulla sit
      amet semper ex. Nunc ornare, orci eget viverra egestas, ante augue
      porttitor est, at mattis magna sem id diam. Vivamus nec libero eros. Morbi
      faucibus orci vitae risus volutpat porttitor. Nulla condimentum hendrerit
      malesuada. Etiam tempus suscipit odio id maximus. Duis porttitor lorem
      pharetra ex molestie iaculis. Quisque egestas nunc vitae dapibus sagittis.
      Suspendisse eget felis ligula. Maecenas accumsan velit urna, eget rutrum
      erat malesuada in. Nulla facilisi.
    </p>
  </article>

  <article>
    <p>
      Proin ligula odio, tristique quis sem ut, malesuada euismod nisi. Donec in
      quam vitae justo tempor placerat vitae mattis mi. Praesent eros diam,
      scelerisque non efficitur quis, accumsan at urna. Aliquam turpis risus,
      elementum sed tortor ac, malesuada mollis massa. Etiam sollicitudin
      lacinia fringilla. Proin in porta turpis. Vestibulum vulputate blandit est
      id rutrum. Nulla nunc nisi, vulputate nec euismod sit amet, consectetur
      eget justo. Nunc semper dui dictum diam iaculis pharetra. Vestibulum
      malesuada erat eu venenatis dapibus. Nam a augue eget erat cursus
      efficitur non ut nisi. Ut tempor, enim quis tincidunt tempor, risus massa
      vulputate dui, a vulputate sem magna ac dolor. Vestibulum enim odio,
      ultricies eget vestibulum vitae, sagittis sed dolor. Duis nibh dolor,
      maximus venenatis est congue, laoreet semper purus.
    </p>
  </article>

  <article>
    <p>
      Sed in cursus sapien. Integer et maximus erat. Phasellus suscipit quam id
      ipsum tempor, vitae rhoncus velit vestibulum. Suspendisse potenti. Ut sit
      amet sagittis mauris. In sodales dui lacus, eu vestibulum diam vehicula
      nec. Phasellus id eleifend nulla. Praesent pretium ipsum eget mi gravida
      bibendum. Cras facilisis tellus sed tortor vehicula laoreet. Integer
      turpis erat, sodales sed facilisis non, consequat id sapien. Ut iaculis
      vulputate massa eu iaculis.
    </p>
  </article>

  <article>
    <p>
      Quisque quis gravida arcu. Pellentesque efficitur ullamcorper sapien eu
      volutpat. Nullam luctus tellus massa, et scelerisque tortor scelerisque
      id. In non sapien et enim scelerisque vestibulum. Nunc placerat egestas
      nisl at euismod. Donec tincidunt neque vitae risus placerat bibendum.
      Fusce non tempor elit. Ut a accumsan orci. Cras justo arcu, lacinia id
      massa a, laoreet volutpat nunc. Maecenas rutrum enim quis magna porta
      finibus. Nunc nec lacus at nulla sollicitudin pharetra. Vivamus in gravida
      mi. Donec sed blandit neque.
    </p>
  </article>
</section>
